.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 2rem;
  height: 90vh;
}

.container div {
  border: 1px solid white;
  height: auto;
}

.red {
  background-color: darkred;
  grid-column: span 2;
}

.green {
  background-color: green;
  grid-row: 3/6;
  grid-column: 5/7;
}

.blue {
  background-color: darkblue;
  grid-row: 6/9;
  grid-column-start: 2;
}

.orange {
  background-color: coral;
  grid-column: span 2;
}

.purple {
  background-color: indigo;
  grid-column: span 3;
}
