.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

.container > div {
  border: 1px solid white;
  height: 200px;
}

.red {
  background-color: darkred;
  grid-column: span 2;
}

.green {
  background-color: green;
  grid-column: span 3;
}

.blue {
  background-color: darkblue;
  grid-column: span 2;
}

.orange {
  background-color: coral;
  grid-column: span 3;
}

.purple {
  background-color: indigo;
  grid-column: span 3;
}
